*{
	margin: 0px;
	padding: 0px;
}
h7{
	font: Aharoni;
	color: #B22222;
	font-size: 30px;
	text-decoration: underline;
}
body{
	background:url("img/nature_back2.jpeg") repeat;
}
*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 35px Calibri;
	color: #FFFFFF;
	float: center;
	text-decoration: underline;
}
h2{
	font: bold 14px Tahoma;
	color: #ADFF2F;
}
h3{
	font: italic 20px Algerian;
}
h4{
	font: bold 55px Times New Roman;
}
h5{
	font: italic 20px Algerian;
}
h6{
	font: 15px Times New Roman;
	color: #006400;
}
h8{
	font: bold 30px Stencil;
	color: blue;
}
h9{
	font: Italic 35px Stencil;
}
h11{
	font: 18px Tahoma;
}
h10{
	font: 19px Tahoma;
}
h12{
	font: 20px Calibri;
}
h14{
	font: 17px Calibri;
}
h15{
	font: 25px Times New Roman;
}
h13{
	font: bold 20px Tahoma;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	text-align: center;
}
#picture{
	width: 100%;
	margin-top: 20px;
	margin: 0px;
	padding: 10px;
	padding-top: 40px;
	display: black;
	text-align: center;
	
}
#picture li{
	margin-left: 10px;
	display: inline-block;
}
#big_wrapper{
	border: 1px solid black;
	width: 1000px;
	margin: 20px auto;
	text-align: left;
}
#top_header{
	background: rgba(0,0,0,0.1);
	border: none;
	padding: 20px;
	text-align: center;
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
#mainvid ul{
	display: inline-block;
}
#video li{
	margin-left: 15px;
	display: block;
}
#top_menu{
	background: rgba(255,0,0,0.5);
	color: Black;
	text-align: center;
	position: always top;
	bottom: 0px;
	margin: 0;
	padding: 0px;
	padding-top: 12px;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
	font-family: Arial;
	text-shadow: 1px 1px 1px black;
	border-top: 1px solid rgba(0,0,0,0.3);
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
#top_menu li{
	background: #0000CD;
	opacity: none;
	color: white;
	margin-left: 15px;
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: 20px Times New Roman;
	border: 2px solid black;
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
#top_menu li a{
	opacity: none;
	color: white;
	text-decoration: none;
}
#top_menu li:hover{
	margin-top: -3px;
	color: white;
	cursor: pointer;
	text-decoration: underline;
	background: #CD853F;
}
#tlink{
	text-align: center;
	background: #76EE00;
}
#tlink2{
	padding: 10px;
	display: webkit-box;
	margin-top: 10px;
	text-align: center;
	background: white;
	height: auto;
	
}
#main_section{
	float: left;
	width: 660px;
	margin: 30px; /* 720px, 280 left */
}
#side_news{
	float: left;
	text-align: left;
	width: 150px;
	margin: 20px 0px;
	padding: 30px;
	background: #66CCCC;
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
#side_menu li {
	display: block;
	text-align: left;
	padding: 5px;
	margin: 5px;
	background: yellow;
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
#side_menu li:hover{
	background: white;
	cursor: pointer;
}
article {
	background: #FFFBCC;
	border: 1px solid red;
	padding: 20px;
	margin-bottom: 15px;
}
article footer{
	text-align: right;
}
#count ul{
	display: inline-block;
	float: center;
	margin-top: 20px;
}
#count ul li{
	display: inline-block;
	text-align: center;
	float: center;
	padding: 10px;
}


#mommy{
	border: none;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width: 1000px;
	height: 300px;
	-webkit-box-align: center;
}
#mommy li{
	list-style: none;
	border: none;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width: auto;
	height: 300px;
	-webkit-box-align: center;
	border: 2px solid red;
	background: #D2691E;
	padding: 20px;
	margin: 10px;
	-webkit-box-flex: 1;
	height: 100px;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
}
#mommy li a{
	color: #CDB79E;
	text-decoration: none;
}
#mommy li:hover{
	background: blue;
}
#mommy li:hover a{
	color: white;
}
#mommy li a:hover{
	text-decoration: underline;
	color: yellow;
}


#navigator{
	border: none;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width: 1000px;
	height: 300px;
	-webkit-box-align: center;
}
#navigator li{
	list-style: none;
	border: none;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width: auto;
	height: 300px;
	-webkit-box-align: center;
	border: 2px solid red;
	background: red;
	padding: 20px;
	margin: 10px;
	-webkit-box-flex: 1;
	height: 100px;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);	
	-webkit-transition: -webkit-transform 1s, opacity 1s, background 1s, width 1s, height 1s;
}
#navigator li a{
	color: white;
	text-decoration: none;
}
#navigator li:hover{
	background: white;
	-webkit-transform: zoom;
	opacity: 1;
	width: auto;
	height: 110px;
}
#navigator li:hover a{
	color: black;
}
#navigator li a:hover{
	text-decoration: underline;
	color: red;
}
#nav_sen{
	background: red;
	color: white;
	text-align: center;
}

#u_footer{
	clear: both;
	text-align: center;
	padding: 10px;
	border-top: 3px solid green;
}
#u_footer li{
	list-style: none;
}
#u_footer li a{
	color: blue;
	font: 15px Times New Roman;
	background: yellow;
}

#the_footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 3px solid green;
	padding-bottom: 20px;
	margin-bottom: 25px; 
}
#the_footer li{
	list-style: none;
	float: centre;
	color: Blue;
	background: white;
	font: 18px Tahoma;
}

#footer{
	position: fixed;
	bottom: 0px;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 40px;
	font-family: Arial;
	text-shadow: 1px 1px 1px black;
	border-top: 1px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.25);
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
#footer h2{
	font-weight: normal;
	font-size: 14px;
	text-decoration: underline;
	color: #CC0000;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
}
#footer p{
	color: white;
	font-size: 12px;
	float: left;
	padding: 0px 10px;
	margin: 10px 0px;
}
#footer img{
	border: none;
}
#footer li ul{
	list-style: none;
	padding: 0px;
	margin-bottom: 12px;
}
.clear{
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0px;
	height: 0px;
}
#footer .whiteBorder{
	border: 1px solid white;
}
#footer .img_left{
	float: left;
	margin-right: 10px;
	width: 40px;
}
#footer .black_box{
	background: rgba(0,0,0,0.4);
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}
#footer #notifications{
	float: right;
	width: auto;
	margin: 5px 10px 0px;
	padding: 0px;
	overflow: hidden;
}
#footer #notifications li{
	margin-right: 12px;
	float: left;
	width: 24px;
	padding: 0px;
	padding-top: 7px;
	height: 32px;
	list-style: none;
}
#footer #notifications li:hover{
	margin-top: -1px;
}
a.notificationIcons span{
	display: none;
	font-size: 12px;
	color: white;
	bottom: 40px;
	width: 150px;
	position: absolute;
	border: 1px solid #333333;
	border-radius: 3px;
	padding: 5px;
	margin-left: -75px;
	background: rgba(0,0,0,0.4);
}
a.notificationIcons:hover span{
	display: block;
}
#footer_menu{
	margin: 0px;
	padding: 0px;
	width: auto;
}
#footer_menu li{
	list-style: none;
	float: left;
	font-size: 12px;
	padding: 12px 14px 14px 14px;
	border-right: 1px solid rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.1);
}
#footer_menu li:hover{
	background: rgba(0,0,0,0.3);
}
#footer_menu li a{
	display: block;
	color: #cccccc;
	text-decoration: none;
}
#footer_menu li a:hover{
	color: white;
}
#footer_menu .homeButton{
	padding: 5px 8px 0px 14px;
	border: none;
	background: none;
}
#footer_menu .homeButton a{
	background: url("img/home.png") top left no-repeat;
	width: 36px;
	height: 30px;
}
#footer_menu .homeButton:hover{
	background: none;
}
#footer_menu .homeButton a:hover{
	background: url("img/home2.png") top left no-repeat;
}
#footer_menu li .homeButton a{
	<a href="index.html">
}

/* Programs Menu dropUp */

#footer_menu li ul.dropUp{
	display: none;
}
#footer_menu li:hover ul.dropUp{
	display: block;
	position: absolute;
	margin: 0 0 0 -15px;
	bottom: 40px;
	border: 1px solid #111111;
	border-bottom: none;
	background: rgba(0,0,0,0.5);
	border-radius: 7px 7px 0px 0px;
}
#footer_menu li:hover li{
	float: none;
	background: none;
	border: none;
	border-bottom: 1px solid #111111;
	padding: 12px 10px 12px 10px;
}

/* Initiatives Menu dropUp */
#thumb_menu li ul.dropUp{
	display: none;
}
#thumb_menu li:hover ul.dropUp{
	display: block;
	position: fixed;
	margin-left: 2px;
	margin-top: 2px;
	padding: 0px;
	bottom: 40px;
	border: 1px solid #111111;
	border-bottom: none;
	background: blue;
	border-radius: 7px 7px 0px 0px;
	width: auto;
	height: auto;
}
#thumb_menu li:hover li{
	float: none;
	background: none;
	border: none;
	border-bottom: 1px solid #111111;
	padding: 0px;
	font: 30px Times New Roman;
	width: auto;
	height: auto;
	margin-top: 2px;
	margin-left: 2px;
}


/* Drop-Up default links */

#footer_menu li:hover a{
	color: #aaaaaa;
}
#footer_menu li:hover a:hover{
	color: white;
}
#thumb_menu li:hover a{
	color: #aaaaaa;
}
#thumb_menu li:hover a:hover{
	color: white;
}

/* Header Link */

#footer_menu li:hover a.headerLinks{
	font-size: 14px;
	text-decoration: underline;
	color: #7FFF00;
	margin-top: 10px;
	margin-left: 10px;
}

/* List Links */

#footer_menu li:hover a.listLinks{
	font-size: 12px;
	color: #aaaaaa;
	margin-left: 10px;
}
#footer_menu li:hover a.listLinks:hover{
	color: white;
	cursor: pointer;
}

#footer_menu .right{
	float: right;
	right: 0px;
	margin-right: 2px;
	border-right: none;
	border-left: 1px solid rgba(0,0,0,0.3);
}

/* Layouts */

#top_header .three_column_layout{
	margin: 4px;
	position: absolute;
	padding-bottom: 15px;
	display: none;
	text-align: center;	
}
#footer .one_column_layout,
#footer .two_column_layout,
#footer .three_column_layout{
	margin: 4px;
	position: absolute;
	padding-bottom: 15px;
	display: none;
	text-align: left;
}
#st_ff .two_column_layout{
	margin: 4px;
	position: always-top;
	padding-bottom: 15px;
	display: none;
	text-align: left;
}

/* Width of each layout */

#top_header .three_column_layout{width: 1000px;}
#footer .one_column_layout{width: 140px;}
#footer .two_column_layout{width: 280px;}
#footer .three_column_layout{width: 420px;}
#st_ff .two_column_layout{width: 1000px}

/* Display Drop-up menus on Hover */

#footer_menu li:hover .one_column_layout,
#footer_menu li:hover .two_column_layout,
#footer_menu li:hover .three_column_layout{
	display: block;
	position: absolute;
	margin: 0 0 0 -15px;
	bottom: 40px;
	background: rgba(0,0,0,0.5);
	border-radius: 7px 7px 0px 0px;
}

#top_header .col_2{
	display: inline-block;
	float: center;
	position: relative;
	margin-left: 30px;
	margin-right: 30px;
}
#top_header .col_1{
	display: inline-block;
	float: center;
	position: relative;
	margin-left: 2px;
	margin-right: 2px;
}
#footer .col_1,
#footer .col_2{
	display: inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
#st_ff .col_1,
#st_ff .col_2{
	padding-left: 8px;
	border-bottom: 1px solid red;
	border-left: 2px solid blue;
	display: inline;
	float: left;
	position: relative;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

#top_header .col_1{width: 190px;}
#top_header .col_2{width: 590px;}
#footer .col_1{width: 130px;}
#footer .col_2{width: 170px;}
#footer .col_3{width: 410px;}
#st_ff .col_1{width: 450px;}
#st_ff .col_2{width: 450px;}


#og .whiteBorder{
	border: 5px solid white;
}

#recom{
	font: 17px solid red;
}
#recom li{
	background: solid yellow;
}
#comp_read{
	display: webkit-box;
}

#st_ff .whiteBorder{
	border: 1px solid white;
}
#st_ff .img_st_cen{
	float: center;
	margin-right: 10px;
	width: 150px;
	height: 150px;
}
#head_header .whiteBorder{
	border: 1px solid white;
}
#head_header .img_st_cen{
	float: center;
	margin-right: 10px;
	width: 150px;
	height: 150px;
}
#head_header{
	height: auto;
	border: 2px solid black;
	padding-top: 5px;
	margin-top: 25px;
	background: white;
}
#st_ff{
	padding: 20px;
	background: white;
	margin-top: 10px;
	border: 2px solid blue;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
}
#st_ff ul{
	-webkit-box-flex: 1;
}
#st_ff_li{
	margin: 0px;
	margin-top: 0px;
}
#st_ff_li li{
	list-style: none;
	display: block;
}



#og_head{
	background: yellow;
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}


#si_1{
	width: 100%;
}
#si_menu{
	width: auto;
	background: rgba(255,0,0,0.5);
	color: Black;
	text-align: center;
	position: always top;
	bottom: 0px;
	margin: 0;
	padding: 0px;
	padding-top: 12px;
	left: 0;
	right: 0;
	font-family: Arial;
	text-shadow: 1px 1px 1px black;
	border-top: 1px solid rgba(0,0,0,0.3);
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
#si_menu li{
	background: black;
	opacity: none;
	color: white;
	margin: 5px;
	display: block;
	list-style: none;
	padding: 5px;
	font: 30px Cambria;
	border: 2px solid black;
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}
#si_menu li a{
	opacity: none;
	color: white;
	text-decoration: none;
}
#si_menu li:hover{
	margin-top: -3px;
	background: yellow;
}
#si_menu li a:hover{
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}



